{% extends 'base.html' %}
{% load static i18n%}
{% block title %}{{title}}{% endblock %}
{% block base %}
<!-- pages-title-start -->
<div class="pages-title section-padding">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pages-title-text text-center">
					<h2>About</h2>
					<ul class="text-left">
						<li><a href="{% url 'index' %}">Home </a></li>
						<li><span> // </span>About</li>

				
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- pages-title-end -->
<!-- about-us-section-start -->
<div class="pages about-us section-padding">
	<div class="container">
		<div class="row">
			<div class="main-padding section-padding-top clearfix">
				<div class="col-sm-12 col-md-5">
					<div class="about-img">
						<img src="{% static 'img/about/l.jpg' %}" alt="" />
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="about-text">
						<div class="about-author">
							<h4>An Multipurpose & Creative assembly of <br /> fashion store</h4>

						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
							exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
							dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia is be deserunt
							mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.
							voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
							inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

						<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
							consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
							quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
							quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
							voluptatem.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- about-us section end -->
<!-- team-member section start -->
<section class="pages team-member section-padding-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-title text-center">
					<h3>Creative Teams</h3>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="single-member">
					<div class="member-img">
						<a href="#"><img src="{% static 'img/about/1.jpg' %}" alt="Team Member" /></a>
					</div>
					<div class="share-member">
						<div class="member-title">
							<h4>Jonathan Edwards</h4>
						</div>
						<div class="member-btn">
							<a href="#"><i class="mdi mdi-facebook"></i></a>
							<a href="#"><i class="mdi mdi-twitter"></i></a>
							<a href="#"><i class="mdi mdi-google-plus"></i></a>
							<a href="#"><i class="mdi mdi-dribbble"></i></a>
							<a href="#"><i class="mdi mdi-rss"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- single member end -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="single-member">
					<div class="member-img">
						<a href="#"><img src="{% static 'img/about/2.jpg' %}" alt="Team Member" /></a>
					</div>
					<div class="share-member">
						<div class="member-title">
							<h4>Jonathan Edwards</h4>
						</div>
						<div class="member-btn">
							<a href="#"><i class="mdi mdi-facebook"></i></a>
							<a href="#"><i class="mdi mdi-twitter"></i></a>
							<a href="#"><i class="mdi mdi-google-plus"></i></a>
							<a href="#"><i class="mdi mdi-dribbble"></i></a>
							<a href="#"><i class="mdi mdi-rss"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- single member end -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="single-member">
					<div class="member-img">
						<a href="#"><img src="{% static 'img/about/3.jpg' %}" alt="Team Member" /></a>
					</div>
					<div class="share-member">
						<div class="member-title">
							<h4>Jonathan Edwards</h4>
						</div>
						<div class="member-btn">
							<a href="#"><i class="mdi mdi-facebook"></i></a>
							<a href="#"><i class="mdi mdi-twitter"></i></a>
							<a href="#"><i class="mdi mdi-google-plus"></i></a>
							<a href="#"><i class="mdi mdi-dribbble"></i></a>
							<a href="#"><i class="mdi mdi-rss"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- single member end -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="single-member">
					<div class="member-img">
						<a href="#"><img src="{% static 'img/about/4.jpg' %}" alt="Team Member" /></a>
					</div>
					<div class="share-member">
						<div class="member-title">
							<h4>Jonathan Edwards</h4>
						</div>
						<div class="member-btn">
							<a href="#"><i class="mdi mdi-facebook"></i></a>
							<a href="#"><i class="mdi mdi-twitter"></i></a>
							<a href="#"><i class="mdi mdi-google-plus"></i></a>
							<a href="#"><i class="mdi mdi-dribbble"></i></a>
							<a href="#"><i class="mdi mdi-rss"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- single member end -->
		</div>
	</div>
</section>
<!-- team-member section end -->
<!-- footer section start -->
<footer class="footer-two">
	<!-- brand logo area start -->
	<div class="brand-logo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="barnd-bg">
						<a href="#"><img src="{% static 'img/brand/1.png' %}" alt="Brand Logo" /></a>
						<a href="#"><img src="{% static 'img/brand/2.png' %}" alt="Brand Logo" /></a>
						<a href="#"><img src="{% static 'img/brand/3.png' %}" alt="Brand Logo" /></a>
						<a href="#"><img src="{% static 'img/brand/4.png' %}" alt="Brand Logo" /></a>
						<a href="#"><img src="{% static 'img/brand/5.png' %}" alt="Brand Logo" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- brand logo section end -->
	<!-- social media section start -->
	<div class="social-media section-padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="newsletter newsletter2">
						<h3>newsletter</h3>
						<form method="post" name="subscribe">
							{% csrf_token %}
							<p style="margin-bottom: 3%;">
								<input type="email" name="email" placeholder="Enter your email..." style="width: 100% !important;" maxlength="254" required="" id="id_email">
							</p>
							<!-- <input type="submit" id="subscriber_form" name="subscribe" value="subscribe"> -->
							<button disabled style="
							background-color: red;
							color: #fff;
							font-weight: 400;
							margin-left: 7px;
							text-transform: uppercase;
							width: auto;
							border: 0 none;
							line-height: 40px;
							padding: 0 20px;" type="button" id="subscriber_form" name="subscribe" value="subscribe" class="btn btn-outline-danger">Subscribe</button>
							<div id="quantityAlert" class="alert alert-success" role="alert" style="position: fixed; top: 9%; text-align: center; display: none; right: 4%;"></div>
						</form>
					</div>
					<div class="social-icons">
						<a href="#"><i class="mdi mdi-facebook"></i></a>
						<a href="#"><i class="mdi mdi-twitter"></i></a>
						<a href="#"><i class="mdi mdi-google-plus"></i></a>
						<a href="#"><i class="mdi mdi-dribbble"></i></a>
						<a href="#"><i class="mdi mdi-rss"></i></a>
					</div>
				</div>
				<div class="col-sm-6 col-md-offset-1 col-md-5">
					<div class="newsletter get-touch">
						<h3>get in touch</h3>
						<form method="post" name="contact">
							{% csrf_token %}
							<input type="text" name="name" placeholder="Enter your Name..." maxlength="50" required="" id="id_name">
							<input type="text" name="email" placeholder="Enter your email..." id="contactEmail" maxlength="254" required="">
							<textarea name="message" cols="40" rows="2" placeholder="Enter your message...." maxlength="1000" required="" id="id_message"></textarea>
							<button style="
							background-color: red;
							color: #fff;
							font-weight: 400;
							margin-left: 7px;
							text-transform: uppercase;
							width: auto;
							border: 0 none;
							line-height: 40px;
							padding: 0 20px;" type="button" id="contact_form" name="contact" value="contact" class="btn btn-outline-danger">Send your message</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- social media section end -->
	<!-- all js here -->
	<script src="{% static 'js/subscribe.js' %}"></script>
	{% endblock %}