{% extends 'base.html' %}
{% load static %}
{% block title %} Password Updated {% endblock %}
{% block base %}
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2 style="color: green">Updated password successfully</h2>
                    <ul class="text-left">
                        <li><a href="{% url 'index' %}">Home </a></li>
                        <li><span> // </span>Updated password successfully</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}