{% extends 'base.html' %}
{% load static %}
{% block title %} Change password {% endblock %}
{% block base %}
<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2>Change password</h2>
                    <ul class="text-left">
                        <li><a href="{% url 'index' %}">Home </a></li>
                        <li><span> // </span>Change password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pages-title-end -->
<!-- login content section start -->
<section class="pages login-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-danger" type="submit">Change password</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                
            </div>
        </div>
    </div>
</section>
<!-- login content section end -->
<!-- footer section start -->
<footer class="footer-two">
    <!-- brand logo area start -->
    <div class="brand-logo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="barnd-bg">
                        <a href="#"><img src="{% static 'img/brand/1.png' %}" alt="Brand Logo" /></a>
                        <a href="#"><img src="{% static 'img/brand/2.png' %}" alt="Brand Logo" /></a>
                        <a href="#"><img src="{% static 'img/brand/3.png' %}" alt="Brand Logo" /></a>
                        <a href="#"><img src="{% static 'img/brand/4.png' %}" alt="Brand Logo" /></a>
                        <a href="#"><img src="{% static 'img/brand/5.png' %}" alt="Brand Logo" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand logo section end -->

    <!-- all js here -->
    {% endblock %}