

{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block base %}

        <!-- pages-title-start -->
		<div class="pages-title section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="pages-title-text text-center">
							<h2>My Account</h2>
							<ul class="text-left">
								<li><a href="{% url 'contact' %}">Home </a></li>
								<li><span> // </span>My Account</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- pages-title-end -->
		<!-- My account content section start -->
		<section class="pages my-account-page section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="padding60">
							<div class="log-title">
								<h3><strong>My Account</strong></h3>
							</div>
							{% if message %}
								{% if success %}
								<div class="alert alert-success" role="alert">
								{% else %}
								<div class="alert alert-danger" role="alert">
								{% endif %}
									{{message}}
								</div>
							{% endif %}
							<div class="prament-area main-input">
								<ul class="panel-group" id="accordion">
									<li class="panel">
										<div class="account-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
											<label>
												<input type="radio" checked value="forever" name="rememberme"/>
												add my frist address
											</label>
										</div>
										<div id="collapse1" class="panel-collapse collapse in">
											<div class="single-log-info">
												<div class="bulling-title">
													<h5>Billing Address</h5>
													<p>To add or update address, please fill out the form below.</p>
												</div>
												<div class="custom-input">
													<form action="" method="post" name="billing">
														{% csrf_token %}
														<div class="custom-select">
															{{billing.company_name}}
														</div>
														<div class="custom-select">
															{{billing.country}}
														</div>
														<div class="custom-select">
															{{billing.city}}
														</div>
														{{billing.address}}
														<div class="submit-text">
															<button type="submit" name="billing">Save</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</li>
									<li class="panel panelimg">
										<div class="account-title"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
											<label>
												<input type="radio" value="forever" name="rememberme"/>
												Order history and details
											</label>
										</div>
										<div id="collapse2" class="paypal-dsc panel-collapse collapse">
											<div class="prayment-dsc">
												<div class="bulling-title">
													<h5>Order history</h5>
												</div>
												<p>Here are the orders you've placed since your account was created.</p>
												{% if orders|length > 0 %}
												<span>
													<table class="table">
														<thead class="thead-dark">
															<tr>
																<th scope="col">Date</th>
																<th scope="col">Product</th>
																<th scope="col">Quantity</th>
															</tr>
														</thead>
														<tbody>
															{% for order in orders %}
															<tr>
																<td>{{ order.ordered_at | date:"d/m/Y" }}</td>
																<td>
																		{% for product in order.User_Cart.all %}
																		<p style="color: white;">
																			{{product.product}}
																		</p>
																		{% endfor %}
																	</td>
																	<td>
																		{% for product in order.User_Cart.all %}
																		<p style="color: white;">
																			{{product.quantity}}
																		</p>
																		{% endfor %}
																	</td>
																</tr>
															{% endfor %}
														</tbody>
													  </table>

												</span>
												{% else %}
												<span>You have not placed any orders.</span>
												{% endif %}
											</div>
										</div>
									</li>
									<li class="panel">
										<div class="account-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
											<label>
												<input type="radio" value="forever" name="rememberme"/>
												My personal information
											</label>
										</div>
										<div id="collapse4" class="panel-collapse collapse">
											<div class="single-log-info">
												<div class="bulling-title">
													<h5>Your personal information</h5>
													<p>Please be sure to update your personal information if it has changed</p>
												</div>
												<!-- <div class="mr-mrs">
													<label class="social-label">
														<sup>*</sup> Social title
													</label>
													<label>
														<input type="radio" value="forever" name="rememberme"/>
														Mr.
													</label>
													<label>
														<input type="radio" value="forever" name="rememberme"/>
														Msr.
													</label>
												</div> -->
												<div class="custom-input">
													<form action="" method="post" name="account_info">
														{% csrf_token %}
														{{user_info.first_name}}
														{{user_info.last_name}}
														{{user_info.email}}
														{{user_info.birth}}
														{{user_info.phone_number}}
														{{user_info.image}}
														<div class="submit-text text-left">
															<button type="submit" value="submit form" name="account_info">Save</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="my-right-side">
							<a href="{% url 'wishlist' %}">My wishlist</a>
							<a href="{% url 'cart' %}">My cart</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- my account content section end -->
        
		<!-- all js here -->
		<script src="{% static 'js/checkout.js' %}"></script>
		{% endblock %} 
 