{% extends 'base.html' %} {% load static %} {% block title %} {{title}}{% endblock %} {% block base %}
<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2>Product List View</h2>
                    <ul class="text-left">
                        <li><a href="{% url 'index' %}">Home </a></li>
                        <li><span> // </span>Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- pages-title-end -->
<!-- collection section start -->
<section class="collection-area collection-area2 section-padding">
    <!-- <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single-colect banner collect-one">
                    <a href="#"><img src="{% static 'img/collect/4.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="colect-text">
                    <h4><a href="#">Fashion Collection 2016</a></h4>
                    <h5>
                        big sale of the men 2016 fashion <br /> Up To 23% Off!
                    </h5>
                    <a href="#">Shop Now <i class="mdi mdi-arrow-right"></i></a>
                </div>
                <div class="collect-img banner margin single-colect">
                    <a href="#"><img src="{% static 'img/collect/5.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="collect-img banner single-colect">
                    <a href="#"><img src="{% static 'img/collect/6.jpg' %}" alt="" /></a>
                </div>
                <div class="colect-text">
                    <h4><a href="#">Men’s Collection 2016</a></h4>
                    <p>
                        There are many variations of passages of Lorem Ipsum avalabbut the majority have suffered
                        alteration in some form.
                    </p>
                    <a href="#">Shop Now <i class="mdi mdi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div> -->
</section>
<!-- collection section end -->
<!-- product-list-view content section start -->
<section class="pages products-page section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="sidebar left-sidebar">
                    <div class="s-side-text">
                        <div class="sidebar-title clearfix">
                            <h4 class="floatleft">Categories</h4>
                            <!-- <h5 class="floatright"><a href="#">All</a></h5> -->
                        </div>
                        <div class="categories left-right-p">
                            <ul id="accordion" class="panel-group clearfix">
                                {% for category in categories.all %}
                                <li class="panel">
                                    {% if not category.parent %}
                                    <div data-toggle="collapse" data-parent="#accordion"
                                        data-target="#collapse{{ category.id }}">
                                        <form method="GET">
                                            <div class="medium-a">
                                                <a name="category_name" style="text-transform: capitalize;">{{ category.title }} </a>
                                            </div>
                                        </form>
                                    </div>
                                    {% endif %}
                                    <div class="panel-collapse collapse  " id="collapse{{ category.id }}">
                                        {% for child in category.parent_category.all %}
                                        <form method="GET">
                                            <div class="normal-a">
                                                <a name="subcategory_name" style="text-transform: capitalize;">{{ child.title }}</a>
                                            </div>
                                        </form>
                                        <div class="medium-a"></div>
                                        {% endfor %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="s-side-text">
                        <div class="sidebar-title">
                            <h4>price</h4>
                        </div>
                        <div class="range-slider clearfix">
                            <form action="#" method="get" style="margin-top: 10%;">
                                <div class="input-group mb-3">
                                    <input type="number" min="1" class="form-control" id="min_price" placeholder="min price" aria-label="Amount (to the nearest dollar)">
                                  </div>
                                  <div class="input-group" style="margin-top: 5%;">
                                    <input type="number" min="1" class="form-control" id="max_price" placeholder="max price" aria-label="Amount (to the nearest dollar)">
                                  </div>
                            </form>
                        </div>
                    </div>
                    <div class="s-side-text">
                        <div class="sidebar-title clearfix">
                            <h4 class="floatleft">size</h4>
                            <!-- <h5 class="floatright"><a href="#">All</a></h5> -->
                        </div>
                        <div class="size-select clearfix">
                            <form method="GET">
                                {% for size in sizes %}
                                <a name="size">
                                    {{ size.title }}</a> {% endfor %}
                            </form>
                        </div>
                    </div>
                    <div class="s-side-text">
                        <div class="sidebar-title clearfix">
                            <h4 class="floatleft">color</h4>
                            <!-- <h5 class="floatright"><a href="#">All</a></h5> -->
                        </div>
                        <div class="color-select clearfix">
                            <form method="GET" style="display: flex;">
                                {% for color in colors %}
                                <a style="margin-right: 11.58px;" name="color" color="{{color.title}}" ><span
                                    {% if color.title in request.get_full_path %}
                                             class="outline"
                                    {% endif %}
                                    style="background: #{{color.hex_code}} none repeat scroll 0 0; margin-right: 11.58px; border: 1px black solid;"></span>
                                </a>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <div class="s-side-text">
                        <div class="sidebar-title clearfix">
                            <h4 class="floatleft">brands</h4>
                            <!-- <h5 class="floatright"><a href="#">All</a></h5> -->
                        </div>
                        <div class="brands-select clearfix">
                            <ul>
                                {% for brand in brands %}
                                <li>
                                    <form method="GET">
                                        <a name="brand">{{ brand.title }}</a>
                                    </form>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="s-side-text">
                        <div class="banner clearfix">
                            {% for image in images %} {% if image.productversion == best %}
                            <a href="{% url 'single_product' best.id %}"><img src="{{image.image.url}}" alt="" /></a>
                            {% endif %} {% endfor %}
                            <div class="banner-text">
                                <h2>{{best.product.title}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="right-products">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="section-title clearfix">
                                <ul>
                                    <li>
                                        <ul class="nav-view">
                                            <li>
                                                <a data-toggle="tab" href="#grid">
                                                    <i class="mdi mdi-view-module"></i>
                                                </a>
                                            </li>
                                            <li class="active">
                                                <a data-toggle="tab" href="#list">
                                                    <i class="mdi mdi-view-list"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sort-by floatright">Showing 2 of {{product_len}} Results</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="tab-content grid-content">
                            <div class="tab-pane fade in text-center" id="grid">
                                {% for productversion in page_obj %}
                                <div class="col-xs-12 hidden-sm col-md-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="{% url 'single_product' productversion.id %}">
                                                {% for image in images %} {% if image.productversion == productversion %}
                                                <img style="width: 270px; height: 340.25px;" src="{{image.image.url}}"
                                                    alt="Product Title" />
                                                {% endif %}
                                                {% endfor %}</a>
                                            <div class="actions-btn">
                                                <a><i data="{{productversion.id}}" class="mdi mdi-cart add_to_cart "></i></a>
                                                <a><i data="{{productversion.id}}" class="mdi mdi-heart add_to_wishlist"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-dsc">
                                            <p>
                                                <a href="{% url 'single_product' productversion.id %}">{{ productversion.product.title }}</a>
                                            </p>
                                            <div class="ratting">
                                                <i class="mdi mdi-star"></i>
                                                <i class="mdi mdi-star"></i>
                                                <i class="mdi mdi-star"></i>
                                                <i class="mdi mdi-star-half"></i>
                                                <i class="mdi mdi-star-outline"></i>
                                            </div>
                                            <span>${{ productversion.product.price }}</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                 <!-- single product end -->
                            </div> 
                            <div class="tab-pane fade active in" id="list">
                                <div class="col-xs-12">
                                    {% for productversion in page_obj %}
                                    <div class="single-list-view">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="list-img">
                                                    <div class="product-img">
                                                        <div class="pro-type">
                                                            {{ productversion.created_at|date:"d/m/Y" }}
                                                            {% if productversion.created_at > now  %}
                                                            <span>new</span>
                                                            {% endif %}
                                                        </div>
                                                        {% for image in images %} {% if image.productversion == productversion %}
                                                        <a href="{% url 'single_product' productversion.id %}">
                                                            <img style="width: 270px; height: 279px;"
                                                                src="{{image.image.url}}" alt="Product Title" />
                                                        </a>
                                                        {% endif %} {% endfor %}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-8">
                                                <div class="list-text">
                                                    <h3><a href="{% url 'single_product' productversion.id %}">{{ productversion.product.title }}</a></h3>
                                                    <span>{{ productversion.product.subtitle }}</span>
                                                    <div class="ratting floatright">
                                                        <p>
                                                            ( {{ productversion.product_reviews.count }} Review )
                                                        </p>
                                                    </div>
                                                    <h5>
                                                        <del>${{ productversion.product.ex_price }}</del> ${{ productversion.product.price }}
                                                    </h5>
                                                    <p>{{ productversion.product.description }}</p>
                                                    <div class="list-btn">
                                                        <a data="{{productversion.id}}" class="add_to_cart">add to cart</a>
                                                        <a data="{{productversion.id}}" class="add_to_wishlist">wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!-- single product end -->
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pagnation-ul">
                                <ul class="clearfix">
                                    {% if page_obj.has_previous %}
                                    <li>
                                        <a class="first-last" page="1"><i class="mdi mdi-menu-left"></i>First</a>
                                        <a id="previous" page="{{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                    {% endif %}
                                    {% for page in page_obj.paginator.page_range %}
                                    <li>
                                         
                                        <a class="btn page_num">{{page}}</a>
                            
                                    </li>
                                    {% endfor %}
                            
                                    {% if page_obj.has_next %}
                                    <li>
                                        <a id="next" page="{{ page_obj.next_page_number }}">Next</a>
                                        <a class="first-last" page="{{ page_obj.paginator.num_pages }}">Last<i class="mdi mdi-menu-right"></i></a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-list-view content section end -->
<!-- all js here -->
<script src="{% static 'js/filter.js' %}"></script>
{% endblock %}