{% extends 'base.html' %} {% load static %} {% block title %} {{title}}{% endblock %} {% block base %}
<!-- pages-title-start -->
<div class="pages-title section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="pages-title-text text-center">
          <h2>fashion style fine arts drawing</h2>
          <ul class="text-left">
            <li><a href="{% url 'index' %}">Home </a></li>
            <li><span> // </span><a href="{% url 'blog' %}">blog </a></li>
            <li><span> // </span>fashion style fine arts drawing</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- pages-title-end -->
<!-- blog-section-start -->
<section class="pages blog single-blog-area section-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-9">
        <div class="single-blog-page">
          <div class="single-blog-img">
            <img src="{% static 'img/blog/s.jpg' %}" alt="" />
          </div>
          <div class="padding30">
            <div class="blog-text">
              <div class="post-title">
                <h3>{{ firstblog.title }}</h3>
                <ul class="clearfix">
                  <li>
                    <i class="pe-7s-user"></i>By :<a href="#">{{ firstblog.creator }}</a><span>|</span>
                  </li>
                  <li>
                    <i class="pe-7s-comment"></i><a href="#">{{ firstblog.created_at }}</a><span>|</span>
                  </li>
                  <li>
                    <i class="pe-7s-like"></i><a href="#">{{ firstblog.like }} Likes</a><span>|</span>
                  </li>
                  <li><i class="pe-7s-back"></i><a href="#">{{ comments|length }} Comments</a></li>
                </ul>
              </div>
              <p>{{ firstblog.description }}</p>
              <div class="italic">
                <p>
                  “The wise man therefore always holds in these matters to this
                  principle of selection: he rejects pleasures to secure other
                  greater pleasures, or else he endures pains to avoid worse
                  pains. But I must explain to you how all this mistaken idea of
                  denouncing pleasure and praising pain was born and I will give
                  you a complete account of the system”,
                </p>
              </div>
              <p>{{ firstblog.description }}</p>
              <div class="share-tag clearfix">
                <ul class="blog-share floatleft">
                  <li>
                    <h5>share</h5>
                  </li>
                  <li>
                    <a href="#"><i class="mdi mdi-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="mdi mdi-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="mdi mdi-linkedin"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="mdi mdi-vimeo"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="mdi mdi-dribbble"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="mdi mdi-instagram"></i></a>
                  </li>
                </ul>
              </div>

              <h4>{{ comments|length }} comments</h4>
              {% for comment in comments.all %} {% if not comment.comment_id %}
              <div class="about-author comments">
                <div class="autohr-text">
                  <img style="width: 90px; height: 100px;"src="{{ comment.user_id.image.url }}" alt="" />
                  <div class="author-des">
                    <h4>
                      <a href="#">{{ comment.user_id.first_name }} {{comment.user_id.last_name }}</a>
                    </h4>
                    <span class="floatright"><a href="#">Reply</a> / <a href="#">Hide</a></span>
                    <span>{{ comment.created_at }}</span>
                    <p>{{ comment.description }}</p>
                  </div>
                </div>
              </div>
              {% endif %} {% for reply in comment.replies.all %}
              <div class="about-author reply">
                <div class="autohr-text">
                  <img style="width: 90px; height: 100px;"src="{{ comment.user_id.image.url }}" alt="" />
                  <div class="author-des">
                    <h4>
                      <a href="#">{{ reply.user_id.first_name }} {{ reply.user_id.last_name }}</a>
                    </h4>
                    <span class="floatright"><a href="#">Hide</a></span>
                    <span>{{ reply.created_at }}</span>
                    <p>{{ reply.description }}</p>
                  </div>
                </div>
              </div>
              {% endfor %} {% endfor %}
            </div>
            <div class="leave-comment">
              <h4>leave your review</h4>
              <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="input-text">
                      <input type="text" name="name" placeholder="Name here" value="{{user.username }}" readonly/>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="input-text">
                      <input type="text" name="email" placeholder="Email here" value="{{user.email}}" readonly/>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="input-text">
                      {{form.description}}
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="submit-text">
                      <button type="submit" value="submit form">
                        submit comments
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- single post end -->
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="sidebar left-sidebar">
          <div class="s-side-text">
            <div class="sidebar-title clearfix">
              <h4 class="floatleft">Categories</h4>
              <h5 class="floatright"><a href="#">All</a></h5>
            </div>
            <div class="categories left-right-p">
              <ul id="accordion" class="panel-group clearfix">

                {% for category in categories.all %}
                <li class="panel">
                  {% if not category.subcategory %}
                  <div data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{ category.id }}">
                    <form action="{% url 'product_list' %}" method="POST">
                      {% csrf_token %}
                      <div class="medium-a">
                        <button type="submit" name="category_name" value="{{ category.title }}"
                          style="background-color: transparent; border: none">
                          {{ category.title }}
                        </button>
                      </div>
                    </form>
                  </div>
                  {% endif %}
                  <div class="panel-collapse collapse" id="collapse{{ category.id }}">
                    {% for subcategory in category.subcategories.all %}
                    <form action="{% url 'product_list' %}" method="POST">
                      {% csrf_token %}
                      <div class="normal-a">
                        <a href="#">
                          <button type="submit" name="subcategory_name" value="{{ subcategory.title }}"
                            style="background-color: transparent; border: none">
                            {{ subcategory.title }}
                          </button>
                        </a>
                      </div>
                    </form>
                    <div class="medium-a"></div>
                    {% endfor %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="s-side-text">
            <div class="sidebar-title clearfix">
              <h4 class="floatleft">brands</h4>
              <h5 class="floatright"><a href="#">All</a></h5>
            </div>
            <div class="brands-select clearfix">
              <ul>
                {% for brand in brands %}
                <li>
                  <form action="{% url 'product_list' %}" method="POST">
                    {% csrf_token %}
                    <a href="#">
                      <button type="submit" name="brand" value="{{ brand.title }}"
                        style="background-color: transparent; border: none">
                        {{ brand.title }}
                      </button>
                    </a>
                  </form>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="s-side-text">
            <div class="sidebar-title clearfix">
              <h4 class="floatleft">recent post</h4>
            </div>
            <div class="recent-post clearfix">
              <ul>
                {% for blog in blogs %}
                <li>
                  <a href="{% url 'single_blog' blog.id %}"><img src="{% static 'img/blog/r3.jpg' %}" alt="" /></a>
                  <h5><a href="{% url 'single_blog' blog.id %}">{{ blog.title }}</a></h5>
                  <span>{{ blog.created_at }}</span>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="s-side-text">
            <div class="banner clearfix">
              <a href="#"><img src="{% static 'img/products/banner.jpg' %}" alt="" /></a>
              <div class="banner-text">
                <h2>best</h2>
                <br />
                <h2 class="banner-brand">brand</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- blog section end -->
<!-- related post section start -->
<section class="related-post latest-blog section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-title text-center">
          <h2>Related Post</h2>
        </div>
      </div>
    </div>
    <ul class="blog-row">
      <li>
        <div class="row">
          {% for blog in relatedblogs %}
          {% if blog.product.product.category.title == firstblog.product.product.category.title %}
          <div class="col-sm-12">
            <div class="l-blog-text">
              <div class="banner">
                <a href="{% url 'single_blog' blog.id %}"><img src="{% static 'img/blog/4.jpg' %}" alt="" /></a>
              </div>
              <div class="s-blog-text">
                <h4>
                  <a href="{% url 'single_blog' blog.id %}">{{ blog.title }}</a>
                </h4>
                <span>By : <a href="{% url 'single_blog' blog.id %}">{{ blog.creator }}</a> | <a href="{% url 'single_blog' blog.id %}">{{ blog.like }} Like</a> |
                  <a href="{% url 'single_blog' blog.id %}">{{ comments|length }} Comments</a></span>
                <p>
                  {{ blog.description }}
                </p>
              </div>
              <div class="date-read clearfix">
                <a href="{% url 'single_blog' blog.id %}"><i class="mdi mdi-clock"></i> {{ blog.created_at }}</a>
                <a href="{% url 'single_blog' blog.id %}">read more</a>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- related post section end -->

<!-- all js here -->
{% endblock %}